/* Планшеты */


@media (max-width: 991px) {
    .about__inner,
    .footer__inner {
        flex-direction: column;
    }

    .features-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Мобильные устройства */

@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    a,
    button {
        padding: 12px 16px;
        font-size: 16px;
    }

    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero__image img {
        max-width: 300px;
        margin: 0 auto;
    }

    .about__inner {
        flex-direction: column;
    }

    .about-image {
        order: -1;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        height: 320px;
    }

    .about-image img {
        height: 100%;
        object-position: center;
    }

    .about-content {
        padding-top: 20px;
    }

    .features-row {
        grid-template-columns: 1fr;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background: none;
        border: none;
    }

    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100%;
        background: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 20px;
        transition: 0.3s;
        z-index: 1000;
    }

    .nav a {
        font-size: 18px;
        text-decoration: none;
    }

    .nav.active {
        left: 0;
    }

    .nav-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    }

    .to-top {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .footer-columns {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    
    .newsletter-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 12px;
    }

    .newsletter-form input,
    .newsletter-form button {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .footer,
    .footer-content {
        overflow-x: hidden;
    }
}

/* Маленькие телефоны */

@media (max-width: 575px) {
    .features-row {
        grid-template-columns: 1fr;
    }
}
